
/build-StocksApp-Desktop_Qt_6_6_3_MinGW_64_bit-Debug
StocksApp/StocksApp.pro.user
StocksApp/StocksApp.pro.user.4cc240d
*.idx
build-StocksApp-Qt_6_6_2_for_macOS-Debug/.qmake.stash
build-StocksApp-Qt_6_6_2_for_macOS-Debug/.qtc_clangd/compile_commands.json
build-StocksApp-Qt_6_6_2_for_macOS-Debug/gamehome.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/main.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/mainwindow.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/Makefile
build-StocksApp-Qt_6_6_2_for_macOS-Debug/moc_gamehome.cpp
build-StocksApp-Qt_6_6_2_for_macOS-Debug/moc_gamehome.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/moc_mainwindow.cpp
build-StocksApp-Qt_6_6_2_for_macOS-Debug/moc_mainwindow.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/moc_model.cpp
build-StocksApp-Qt_6_6_2_for_macOS-Debug/moc_model.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/moc_selectdifficulty.cpp
build-StocksApp-Qt_6_6_2_for_macOS-Debug/moc_selectdifficulty.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/model.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/selectdifficulty.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/StocksApp.app/Contents/Info.plist
build-StocksApp-Qt_6_6_2_for_macOS-Debug/StocksApp.app/Contents/MacOS/StocksApp
build-StocksApp-Qt_6_6_2_for_macOS-Debug/StocksApp.app/Contents/PkgInfo
build-StocksApp-Qt_6_6_2_for_macOS-Debug/ui_gamehome.h
build-StocksApp-Qt_6_6_2_for_macOS-Debug/ui_mainwindow.h
build-StocksApp-Qt_6_6_2_for_macOS-Debug/ui_selectdifficulty.h
build-StocksApp-Qt_6_6_2_for_macOS-Debug/Car.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/player.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/stock.o
*.Release
/build-StocksApp-Desktop_Qt_6_6_2_MinGW_64_bit-Debug
build-StocksApp-Desktop_Qt_6_6_2_MinGW_64_bit-Debug/debug/mainwindow.o
build-StocksApp-Desktop_Qt_6_6_2_MinGW_64_bit-Debug/.qtc_clangd/compile_commands.json
/StocksApp/build
build-StocksApp-Qt_6_6_2_for_macOS-Debug/utilitydialog.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/ui_utilitydialog.h
build-StocksApp-Qt_6_6_2_for_macOS-Debug/ui_transfermoneydialog.h
build-StocksApp-Qt_6_6_2_for_macOS-Debug/transfermoneydialog.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/moc_utilitydialog.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/moc_utilitydialog.cpp
build-StocksApp-Qt_6_6_2_for_macOS-Debug/moc_transfermoneydialog.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/moc_transfermoneydialog.cpp
build-StocksApp-Qt_6_6_2_for_macOS-Debug/loan.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/house.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2BlockAllocator.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2Body.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2BroadPhase.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2ChainAndCircleContact.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2ChainAndPolygonContact.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2ChainShape.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2CircleContact.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2CircleShape.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2CollideCircle.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2CollideEdge.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2CollidePolygon.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2Collision.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2Contact.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2ContactManager.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2ContactSolver.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2Distance.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2DistanceJoint.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2Draw.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2DynamicTree.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2EdgeAndCircleContact.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2EdgeAndPolygonContact.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2EdgeShape.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2Fixture.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2FrictionJoint.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2GearJoint.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2Island.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2Joint.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2Math.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2MotorJoint.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2MouseJoint.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2PolygonAndCircleContact.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2PolygonContact.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2PolygonShape.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2PrismaticJoint.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2PulleyJoint.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2RevoluteJoint.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2Rope.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2RopeJoint.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2Settings.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2StackAllocator.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2TimeOfImpact.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2Timer.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2WeldJoint.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2WheelJoint.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2World.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/b2WorldCallbacks.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/celebrationscreen.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/confettipiece.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/moc_celebrationscreen.cpp
build-StocksApp-Qt_6_6_2_for_macOS-Debug/moc_celebrationscreen.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/ui_celebrationscreen.h
build-StocksApp-Qt_6_6_2_for_macOS-Debug/moc_tipsscreen.cpp
build-StocksApp-Qt_6_6_2_for_macOS-Debug/moc_tipsscreen.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/tipsscreen.o
build-StocksApp-Qt_6_6_2_for_macOS-Debug/ui_tipsscreen.h
